$background-color-sidebar: #2f353a;
$background-color-sidebar-active: #3a4248;
$dark-color: #333333;
$dark-color-active: #434343;

$primary-color: #63c2de;
$logo-color: #E5C798;
$secondary-color: #666666;
$danger-color: #f86c6b;
$warning-color: #ffc107;
$success-color: #4dbd74;
//-------------
$newUsers-color: $primary-color;
$activeUsers-color: $danger-color;
$listCreated-color: $warning-color;
$taskCreated-color: $success-color;